@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Alterar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var obj = @Html.Raw(Json.Encode(Model));
        var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';
        var urlIncluirBeneficiario = '@Url.Action("Incluir", "Beneficiarios")';
        var urlListarBeneficiario = '@Url.Action("ListarPorCliente", "Beneficiarios")';
        var urlExcluirBeneficiario = '@Url.Action("Excluir", "Beneficiarios")';

    </script>
    @Scripts.Render("~/bundles/altClientes")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")